/* Your custom css code goes here */
.test-form {
  background-color: #000;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #11eaaa;
  max-width: 650px;
  margin: 0 auto;
}
.test-form .container{
 width: 100%;
}
.test_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test_pay_mob {
  display: none;
}

.test_pay {
  text-align: right;
}
.test_pay img{
  width: 150px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .test_wrapper {
    align-items: flex-start;
    flex-direction: column
  }
  .test_text {
    margin-bottom: 20px;
  }
  .test_pay img {
    width: 100%;
    max-width: 100%;
  }
  .test_pay_desk {
    display: none;
  }
  .test_pay_mob {
    display: block;
  }
  .footer-contacts {
    font-size: 16px;
  }
  .footer-contacts a{
    padding: 0 5px !important;
  }
  .footer-contacts .col-xs-4 {
    padding: 0;
  }
  .footer-contacts .probootstrap-right-nav{
    top: 0;
  }
}
@media (max-width: 576px) {
  .footer-contacts {
    font-size: 12px;
  }
}